<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xt_dart</key>
	<string>030a06</string>
	<key>xt_light</key>
	<string>9d9f9b</string>
	<key>xt_d_red</key>
	<string>796f71</string>
</dict>
</plist>
